img{
    width:100%
}

.shop{
    background-color:#F78486;
    width: 100%
}

.wrap{
    background-color: #ffed9f;
    padding:0 10px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.cakes{
    background-color: #ffed9f;
    float:left;
    width:48%;
    padding:10px;
    box-sizing:border-box;
}